<!--
  Generated template for the Prescription page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="addPatient()">
        <ion-icon name="md-person-add"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-toolbar primary>
      <ion-searchbar placeholder="Nhập tên bệnh nhân" [(ngModel)]="keyQuery" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)" aria-placeholder="tên, mã bệnh nhân">
      </ion-searchbar>
    </ion-toolbar>


  </ion-navbar>


</ion-header>




<ion-content class="background-content">
  <p style="width: 100%; height: 100%; text-align: center; color: darkgray" [hidden]="hideMessageUnfound">Không tìm thấy bệnh nhân</p>
  <!--<ion-list>
    <ion-list-header class="header-list background-content" style="background: #F4F4F4"> 
     
    </ion-list-header>
    <ion-item *ngFor="let item of listPatient" (click)="selectPatient(item)">
      <ion-avatar item-left>
        <img src="assets/home-icon-patient.png">
      </ion-avatar>
      <h2>{{item.holotbn + item.tenbn}}</h2>
      <p>{{item.diachibn}}</p>
      <div item-right>
        <button ion-button color="danger">
          <ion-icon name="ios-bus"></ion-icon>
            &nbsp;Cấp cứu
          </button>
        <button ion-button>
          <ion-icon name="md-home"></ion-icon>
            &nbsp;Gia đình
        </button>
        <button ion-button>
          <ion-icon name="md-home"></ion-icon>
            &nbsp;Gia đình
        </button>
      </div>
    </ion-item>
  </ion-list>-->
  <ion-card *ngFor="let item of listPatient">

    <ion-item>
      <ion-avatar item-left>
        <img src="assets/home-icon-patient.png">
      </ion-avatar>
      <h2>{{item.holotbn +' '+ item.tenbn}}</h2>
      <p>{{item.diachibn}}</p>
      <ion-note item-right class="container-more-action">
        <ion-icon class="icon-more-action" (click)="pop($event)" name="md-more"></ion-icon>
      </ion-note>
    </ion-item>

    <ion-card-content>

      <!--<p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>-->
    </ion-card-content>

    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left color="danger" clear small (click)="selectPatient(item, 1)">
        <ion-icon name="ios-bus"></ion-icon>
        <div>Cấp cứu</div>
      </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small (click)="selectPatient(item, 2)">
        <ion-icon name="md-home"></ion-icon>
        <div>Gia đình</div>
      </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left color="secondary" clear small (click)="selectPatient(item, 3)">
        <ion-icon name="ios-briefcase"></ion-icon>
        <div>Chăm sóc</div>
      </button>
      </ion-col>

    </ion-row>

  </ion-card>
</ion-content>