<!--
  Generated template for the VatTuSuDung page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-navbar hideBackButton class="header" >
      <ion-buttons left >
         <button icon-left ion-button  (click)="backPage()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-arrow-dropleft"></ion-icon>
            <label>Back</label>
         </button>
      </ion-buttons>
      <ion-title center style="text-align: center">Vật tư sử dụng</ion-title>
      <ion-buttons end >
         <button ion-button  (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
      </ion-buttons>
   </ion-navbar>

</ion-header>


<ion-content class="background-content" >
  <ion-list>
      <ion-list-header class="header-list"  style="background: #F4F4F4">
        Danh mục các vật tư
      </ion-list-header>
    <ion-item>
      <ion-label>Danh mục 1</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Danh muc 2</ion-label>
      <ion-checkbox ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Danh mục 3</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Danh muc 4</ion-label>
      <ion-checkbox ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Danh mục 5</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Danh muc 6</ion-label>
      <ion-checkbox ></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
