<!--
  Generated template for the Examination page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <ion-buttons left >
      <button icon-left ion-button  (press) = 'showHistory($event)' (click)="backPage()">
        <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-home-outline"></ion-icon>
         <label>Home</label>
      </button>
      </ion-buttons>
    <ion-title center >Khám Bệnh</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background-content"  >
  <ion-list-header class="header-list"  style="background: #F4F4F4; font-size: 16px">
    Thông tin chung
  </ion-list-header>
   <ion-list>
     <ion-item>
       <ion-grid>
        <ion-row style="margin:-25px">
          <ion-col width-28>    
            <ion-list>
              <ion-item>
                <p item-left style="color: #387ef5; font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;">Ngày: </p>
                <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col width-28>    
            <ion-list>
              <ion-item>
                <p item-left style="color: #387ef5; font-size: inherit;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;">
                                    Giờ: 
                 </p>
                <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A"></ion-datetime>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
     </ion-item>
     <ion-item style="color: #387ef5">
        Bác Sĩ: <label style="color: #000">NGUYỄN VĂN ABC</label>
     </ion-item>
   </ion-list>

<ion-list-header class="header-list"  style="background: #F4F4F4; font-size: 16px">
    Mục khám
  </ion-list-header>
<ion-list>
    <button ion-item *ngFor="let item of listMenu" (click)="menuSelection(item.valueClick)">
    {{ item.nameDisplay }}<ion-icon color="nav" item-right name="ios-arrow-forward"></ion-icon>
    </button>
    
   </ion-list>
</ion-content>
