<!--
  Generated template for the PreclinicalExamination page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton class="header" >
    <ion-buttons left >
      <button icon-left ion-button  (press)="showHistory($event)" (click)="backPage()">
        <ion-icon  name="ios-arrow-dropleft"></ion-icon>
         <label>Khám bệnh</label>
      </button>
      </ion-buttons>
    <ion-title center style="text-align: center">Tiền căn</ion-title>
    
    <ion-buttons end >
      <button ion-button  (click)="saveData()">
        <ion-icon  name="ios-checkmark-circle-outline"></ion-icon>
         <label>Save</label>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content class="background-content" >
<ion-list-header class="header-list"  style="background: #F4F4F4">
    Danh sách bệnh
  </ion-list-header>
 <ion-list>

  <ion-item class="item-checkbox-right">
    <ion-label>Tim mạch</ion-label>
    <ion-checkbox [(ngModel)]="a"></ion-checkbox>
  </ion-item>

 <ion-item class="item-checkbox-right">
    <ion-label>Cao huyết áp</ion-label>
    <ion-checkbox [(ngModel)]="b"></ion-checkbox>
  </ion-item>

  <ion-item class="item-checkbox-right">
    <ion-label>Tiểu đường</ion-label>
    <ion-checkbox [(ngModel)]="c"></ion-checkbox>
  </ion-item>
  <ion-item class="item-checkbox-right">
    <ion-label>Lao</ion-label>
    <ion-checkbox [(ngModel)]="d"></ion-checkbox>
  </ion-item>

 <ion-item class="item-checkbox-right">
    <ion-label>Ung thư</ion-label>
    <ion-checkbox [(ngModel)]="e"></ion-checkbox>
  </ion-item>

  <ion-item class="item-checkbox-right">
    <ion-label>Bệnh lí khớp</ion-label>
    <ion-checkbox [(ngModel)]="f"></ion-checkbox>
  </ion-item>
  <ion-item class="item-checkbox-right">
    <ion-label>Hen, COPD</ion-label>
    <ion-checkbox [(ngModel)]="g"></ion-checkbox>
  </ion-item>

 <ion-item class="item-checkbox-right">
    <ion-label>Động kinh</ion-label>
    <ion-checkbox [(ngModel)]="h"></ion-checkbox>
  </ion-item>

  <ion-item class="item-checkbox-right">
    <ion-label>Viêm gan</ion-label>
    <ion-checkbox [(ngModel)]="i"></ion-checkbox>
  </ion-item>
  <ion-item >
        <ion-label style="color:#000;width: 10px; min-width: 10px" fixed>Dị ứng thuốc:</ion-label>
        <ion-input></ion-input>
   </ion-item>
   <ion-item>
        <ion-label style="color: #000;width: 10px; min-width: 10px" fixed>Khác:</ion-label>
         <ion-textarea></ion-textarea>
    </ion-item>
    


</ion-list>
</ion-content>
