<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Chỉ Định</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="background-content"  >

<ion-list>
    <button ion-item *ngFor="let item of listMenu" (click)="itemSelected(item.valueClick)">
    {{ item.nameDisplay }}<ion-icon color="nav" item-right name="ios-arrow-forward"></ion-icon>
    </button>
    
</ion-list>
</ion-content>