<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
       <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Bệnh Sử</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="background-content"  padding style="background: #F4F4F4">
  <ion-list no-lines>
    <ion-item style="border-radius: 3px">
      <label style="color: #387ef5; min-width: 10px" fixed>Nhập môt tả bệnh sử:</label>
    </ion-item>
    <ion-item>
         <ion-textarea rows="20" [(ngModel)] = "benhsu"></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>
