<!--
   Generated template for the Prescription page.
   
   See http://ionicframework.com/docs/v2/components/#navigation for more info on
   Ionic pages and navigation.
   -->
<ion-header>
    <ion-navbar hideBackButton class="header">
        <ion-buttons left>
            <button icon-left ion-button (click)="backPage()">
            <ion-icon  name="ios-arrow-dropleft"></ion-icon>
            <label>Tác vụ</label>
         </button>
        </ion-buttons>
        <ion-title center style="text-align: center">Kê toa thuốc</ion-title>
        <ion-buttons end>
            <button ion-button (click)="saveData()">
            <ion-icon  name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="background-content" (click)="testTrigger()">
    <ion-searchbar placeholder="Nhập tên thuốc" [(ngModel)]="keyQuery" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
        (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <div style="width: 100%; position: fixed; margin-top: -25px ; z-index: 20" [hidden]="!showSearch">
        <ion-list style=" padding: 20px; padding-right: 30px">
            <button ion-item *ngFor="let itemSearch of listMedince" (click)="itemSelected(itemSearch)" style="background: #edeaea">
         {{itemSearch.tendp}}
         </button>
        </ion-list>
    </div>
    <ion-list>
        <ion-item-sliding #item *ngFor="let med of listMedinceChoice">
            <ion-item class="wrap">
                <img width="25px" height="25px" item-left src="assets/medicine-icon.png">
                <h2 style="color: #4CAF50; white-space: normal" class="wrap">{{med.tendp}}</h2>
                <p><strong>Hoạt chất: </strong>{{med.tenhc}}</p>
                <ion-note item-right style="display: flex; margin-top: 4px">
                    <ion-icon (click)="decreaseMedicine(med)" style="font-size: 25px" name="ios-remove-circle-outline"></ion-icon>
                    &nbsp;&nbsp;
                    <input type="number" class="input-quantity" [(ngModel)]="med.soluong" /> &nbsp;&nbsp;
                    <ion-icon (click)="increaseMedicine(med)" style="font-size: 25px" name="ios-add-circle-outline"></ion-icon>
                </ion-note>
                <div style="display: flex; margin-top: 4px">
                    <p style="margin-right: 90px"><strong>Đơn vị: </strong> {{med.madvt}}</p>
                </div>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button (click)="removeItem(med)">
                    <p>Thông tin</p>
                    <ion-icon name="ios-information-outline"></ion-icon>
                </button>
                <button ion-button color="danger" (click)="removeItem(med)">
                    <p>Xóa</p>
                    <ion-icon name="ios-trash-outline"></ion-icon>
                </button>         
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>