<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Chỉ Định CBYT</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="background-content" >
  <ion-list>
    <ion-item>
        <ion-avatar item-left>
          <img src="assets/doctor.png">
        </ion-avatar>
        <h2>{{defaultCBYT.holotcbyt}} {{defaultCBYT.tencbyt}}</h2>
        <p>NS: {{defaultCBYT.nscbyt}} &nbsp;&nbsp; GT: <span *ngIf="defaultCBYT.gtcbyt == 1">Nam</span><span *ngIf="defaultCBYT.gtcbyt == 2">Nữ</span></p>
        <ion-note item-right class="type-cbyt">
          <span *ngIf="defaultCBYT.plcbyt == 1">Bác sĩ</span>
          <span *ngIf="defaultCBYT.plcbyt == 3">Điều dưỡng</span>
          <span *ngIf="defaultCBYT.plcbyt == 2">KTV</span>
        </ion-note>
      </ion-item>
    <ion-item-sliding #item *ngFor="let cb of listCBYT">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/doctor.png">
        </ion-avatar>
        <h2>{{cb.holotcbyt}} {{cb.tencbyt}}</h2>
        <p>NS: {{cb.nscbyt}} &nbsp;&nbsp; GT: <span *ngIf="cb.gtcbyt == 1">Nam</span><span *ngIf="cb.gtcbyt == 2">Nữ</span></p>
        <ion-note item-right class="type-cbyt">
          <span *ngIf="cb.plcbyt == 1">Bác sĩ</span>
          <span *ngIf="cb.plcbyt == 3">Điều dưỡng</span>
          <span *ngIf="cb.plcbyt == 2">KTV</span>
        </ion-note>
      </ion-item>
      <ion-item-options side="right">
      <button ion-button color="danger" (click)="removeItem(cb)">
        <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
    </ion-item-options>

    </ion-item-sliding>
    <button ion-item class="icon-add" (click)="addCBYT()">
      <ion-icon name="ios-add-circle-outline"  item-left></ion-icon>
      Thêm cán bộ y tế
    </button>
  </ion-list>

</ion-content>