<!--
  Generated template for the DichVuKiThuat page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton class="header" >
      <ion-buttons left >
         <button icon-left ion-button  (click)="backPage()">
            <ion-icon  name="ios-arrow-dropleft"></ion-icon>
            <label>Chỉ định</label>
         </button>
      </ion-buttons>
      <ion-title center >Dịch vụ kĩ thuật</ion-title>
      <ion-buttons end >
         <button ion-button  (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
      </ion-buttons>
   </ion-navbar>

</ion-header>


<ion-content class="background-content"  style="background: #F4F4F4">
  <ion-list>
    <ion-list-header class="header-list"  style="background: #F4F4F4">
      Danh mục dịch vụ kĩ thuật
    </ion-list-header>

      <ion-item>
        <ion-label style="color: #387ef5">Điều dưỡng: </ion-label>
        <ion-select multiple="true">
          <ion-option value="1">Thay băng</ion-option>
          <ion-option value="2">Cắt chỉ</ion-option>
          <ion-option value="3">Sonde dạ dày</ion-option>
          <ion-option value="4">Thông tiểu</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label style="color: #387ef5">Vật lí trị liệu: </ion-label>
        <ion-select multiple="true">
          <ion-option value="1">Kéo nắng</ion-option>
          <ion-option value="2">Xung điện</ion-option>
          <ion-option value="3">PHCN</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label style="color: #387ef5">Y học cổ truyền: </ion-label>
        <ion-select multiple="true">
          <ion-option value="1">Châm cứu</ion-option>
          <ion-option value="2">Bấm huyệt</ion-option>
          <ion-option value="3">PHCN</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label style="color: #387ef5" fixed>Khác</ion-label>
        <textarea></textarea>
      </ion-item>
  </ion-list>

</ion-content>
