<!--
   Generated template for the Prescription page.
   
   See http://ionicframework.com/docs/v2/components/#navigation for more info on
   Ionic pages and navigation.
   -->
<ion-header>
   <ion-navbar hideBackButton class="header" >
      <ion-buttons left >
         <button icon-left ion-button  (click)="backPage()">
            <ion-icon  name="ios-arrow-dropleft"></ion-icon>
            <label>Chỉ định</label>
         </button>
      </ion-buttons>
      <ion-title center style="text-align: center">Kê toa thuốc</ion-title>
      <ion-buttons end >
         <button ion-button  (click)="saveData()">
            <ion-icon  name="ios-search-outline"></ion-icon>
            <label>Tìm thuốc</label>
         </button>
      </ion-buttons>
   </ion-navbar>
</ion-header>
<ion-content class="background-content" >
   <ion-searchbar
   placeholder="Nhập tên toa thuốc"
   [(ngModel)]="keyQuery"
   [showCancelButton]="shouldShowCancel"
   (ionInput)="onInput($event)"
   (ionCancel)="onCancel($event)">
   </ion-searchbar>
   <div style="width: 100%; position: fixed; margin-top: -25px ; z-index: 20" [hidden]="!showSearch">
      <ion-list style=" padding: 20px; padding-right: 30px">
         <button ion-item *ngFor="let itemSearch of listMedince" (click)="itemSelected(itemSearch)" style="background: #edeaea">
         {{itemSearch.name}}
         </button>
      </ion-list>
   </div>
   <ion-list>
      <ion-item (click)="goTimThuoc()">
        <ion-avatar item-left>
        <img width="40px" height="40px" item-left src="assets/prescription.png">
      </ion-avatar>
         
         <h2 style="color: #4CAF50">Cảm cúm</h2>
         <p><strong>Ngày tạo: </strong>12/02/2012</p>
         <p><strong>Số lượng thuốc: </strong>5</p>
         <ion-note item-right>
            <ion-icon style="color:#6cb4b2; font-size: 40px" name="ios-copy"></ion-icon>
         </ion-note>
      </ion-item>
      <ion-item>
        <ion-avatar item-left>
        <img width="40px" height="40px" item-left src="assets/prescription.png">
      </ion-avatar>
         
         <h2 style="color: #4CAF50">Cảm cúm</h2>
         <p><strong>Ngày tạo: </strong>12/02/2012</p>
         <p><strong>Số lượng thuốc: </strong>5</p>
         <ion-note item-right>
            <ion-icon style="color:#6cb4b2; font-size: 40px" name="ios-copy"></ion-icon>
         </ion-note>
      </ion-item>
   </ion-list>
 
</ion-content>