<!--
  Generated template for the AddPatient page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style type="text/css">
   input[type="checkbox"] {
    float: right;
}
.item-checkbox-right {
  flex-direction: row-reverse;
}
  
</style>
<ion-header>
  <ion-navbar hideBackButton class="header" >
    <ion-buttons left >
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="ios-home-outline"></ion-icon>
         <label>Home</label>
      </button>
      </ion-buttons>
    <ion-title center>Thêm bệnh nhân</ion-title>
    <ion-buttons right >
       <button icon-right ion-button  (click)="saveData()">
        <ion-icon  name="ios-checkmark-circle-outline"></ion-icon>
         <label>save</label>
      </button>
      </ion-buttons>
  </ion-navbar>

  
</ion-header>


<ion-content class="background-content"  style="text-align: center">
  <ion-list>
    <ion-item style="color: #387ef5">
        Mã bệnh nhân: <label style="color: #000">{{maBn}}</label>
     </ion-item>
      <ion-item style="color: #387ef5">
        Số bệnh án: <label style="color: #000">{{maBa}}</label>
     
      </ion-item>

    <ion-item>
      <ion-label style="color: #387ef5;width: 10px; min-width: 10px" fixed>Họ & chữ lót: </ion-label>
      <ion-input [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="color: #387ef5;width: 10px; min-width: 10px" fixed>Tên: </ion-label>
      <ion-input [(ngModel)]="lastName"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label style="color: #387ef5;width: 10px; min-width: 10px" fixed>Năm sinh:</ion-label>
        <ion-input [(ngModel)]="birthday"></ion-input>
      </ion-item>
    
   <ion-item >
    <ion-grid item-left>
        <ion-row style="margin:-10px">
          <ion-col width-23>
             <ion-label style="color: #387ef5">Giới tính:</ion-label>
          </ion-col>
          <ion-col width-33 >
            <ion-list radio-group [(ngModel)]="gender">
              <ion-item >
                <ion-label>Nam</ion-label>
                <ion-radio  value="1"></ion-radio>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col width-33>
            <ion-list radio-group [(ngModel)]="gender">
              <ion-item>
                <ion-label>Nữ</ion-label>
                <ion-radio value="2"></ion-radio>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
   </ion-item>
     

    <ion-item>
      <ion-label style="color: #387ef5">Quốc tịch</ion-label>
      <ion-select [(ngModel)]="nationality">
        <ion-option value="vn">Việt Nam</ion-option>
        <ion-option value="jp">Nhật Bản</ion-option>
        <ion-option value="cn">Trung Quốc</ion-option>
        <ion-option value="us">Hoa Kỳ</ion-option>
        <ion-option value="sg">Singapore</ion-option>
      </ion-select>
    </ion-item>
     

    <ion-item>
      <ion-label style="color: #387ef5;width: 10px; min-width: 10px" fixed>Địa chỉ:</ion-label>
      <ion-input [(ngModel)]="address"></ion-input>
    </ion-item>

    <ion-item class="label-title">Tỉnh/Thành phố: <label style="color: #000">Tp. Hồ Chí Minh</label></ion-item>

    <ion-item>
      <ion-label style="color: #387ef5">Quận/Huyện: </ion-label>
      <ion-select [(ngModel)]="district" (ngModelChange)="changeDistrict()">
        <ion-option *ngFor="let item of districts" value="{{item.districtid}}">Quận {{item.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label style="color: #387ef5">Phường/Xã:</ion-label>
      <ion-select [(ngModel)]="ward">
        <ion-option *ngFor="let item of wards" value="{{item.wardid}}">Phường {{item.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label style="color: #387ef5;width: 10px; min-width: 10px" fixed>SDT:</ion-label>
      <ion-input [(ngModel)]="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="color: #387ef5">Loai khám bệnh: </ion-label>
      <ion-select [(ngModel)]="medicalType">
        <ion-option *ngFor="let item of medicalTypes" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Thành viên: </ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="isMember" checked="true"></ion-checkbox>
      </ion-item>
</ion-list>
 
</ion-content>
