<!--
  Generated template for the ReasonExamination page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Lí do khám bệnh</ion-title>

    <ion-buttons end>
      <button ion-button (click)="saveData()">
        <ion-icon  name="ios-checkmark-circle-outline"></ion-icon>
         <label>save</label>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="background-content">
  <ion-list>
    <ion-item>
      <ion-label style="color: #387ef5;width: 10px; min-width: 10px" fixed>Bệnh lí:</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item class="item-checkbox-right">
      <ion-label class="label-title">Tai nạn:</ion-label>
      <ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
    </ion-item>

  </ion-list>

</ion-content>