<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="ios-home-outline"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Tiền Căn</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-list>

    <ion-card *ngFor="let item of listTienCan" style="background: #fff; box-shadow: none; border-top:1px solid darkcyan">

      <ion-item style="background: #fff">
        <ion-label>{{item.tentc}}</ion-label>
        <ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>
      </ion-item>
      <ion-card-content [hidden]="item.checked==false">

        <ion-item style="border: solid 1.5px dodgerblue; border-radius: 3px;">

          
          <ion-textarea placeholder="Mô tả" [(ngModel)]="item.ghichu"></ion-textarea>

        </ion-item>

      </ion-card-content>
    </ion-card>


  </ion-list>

</ion-content>