<!--
  Generated template for the ChiDinhKhac page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton class="header" >
      <ion-buttons left >
         <button icon-left ion-button  (click)="backPage()">
            <ion-icon  name="ios-arrow-dropleft"></ion-icon>
            <label>Chỉ định</label>
         </button>
      </ion-buttons>
      <ion-title center >Chỉ định khác</ion-title>
      <ion-buttons end >
         <button ion-button  (click)="saveData()">
            <ion-icon  name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
      </ion-buttons>
   </ion-navbar>
</ion-header>
<ion-content class="background-content"  style="background: #F4F4F4" padding>
  <ion-list>
    <ion-item>
      <ion-textarea placeholder="Chỉ định khác"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
