

.ion-page  .ion-content
{
    background: red;
}


.toolbar-background {
    background-color: #076461
}
.toolbar-title
{
    color: white
}
.back-button
{
    color: white
}
.item-checkbox-right {
        flex-direction: row-reverse;
    }
.label-title {
    color: #387ef5 !important
}

.header button {
    background: #6cb4b2; color: white;
    font-size: 10px;
}
.header ion-title{
    font-family: $open-sans;
    position: fixed;
    top: 0 ;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;

}
.header ion-icon{
    font-size: 15px; margin-right: 2px
}
.header-list
{
    font-size: 18px !important
}
.background-content{
    background: #F4F4F4 !important
}


 