<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Tác Vụ Chăm Sóc</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-content">
  <ion-list>
    <ion-list-header class="header-list" style="background: #F4F4F4; font-size: 16px">
      Chọn loại chăm sóc
    </ion-list-header>
    <ion-item *ngFor="let item of listChamSoc" ion-item>
      <ion-label>{{item.tencs}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="item.checked" checked="{{item.checked}}">
      </ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>