<!--
   Generated template for the CacBoPhan page.
   
   See http://ionicframework.com/docs/v2/components/#navigation for more info on
   Ionic pages and navigation.
   -->
<ion-header>
   <ion-navbar hideBackButton class="header" >
      <ion-buttons left >
         <button icon-left ion-button  (click)="backPage()">
            <ion-icon  name="ios-arrow-dropleft"></ion-icon>
            <label>Lâm sàn</label>
         </button>
      </ion-buttons>
      <ion-title center style="text-align: center">Các bộ phận</ion-title>
      <ion-buttons end >
         <button ion-button  (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
      </ion-buttons>
   </ion-navbar>
</ion-header>
<ion-content class="background-content" >

<ion-content class="background-content" >
   <ion-list>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Tất cả bình thường</ion-label>
          <ion-checkbox color="dark" (ngModelChange)="changeAllNormal()" checked="true" [(ngModel)]="allNormal"></ion-checkbox>
      </ion-item>
   </ion-list>
   <ion-list>
     <ion-list-header class="header-list"  style="background: #F4F4F4">
        Danh mục các bộ phận
      </ion-list-header>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Tuần hoàn</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="tuanhoan" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="tuanhoan">

        <ion-textarea placeholder="Mô tả tuần hoàn"></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Hô hấp</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="hohap" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="hohap">

        <ion-textarea placeholder="Mô tả hô hấp"></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Tiêu hóa</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="tieuhoa" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="tieuhoa">

        <ion-textarea placeholder="Mô tả tiêu hóa"></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Tiết niệu - Sinh dục</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="tietnieuSinhduc" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="tietnieuSinhduc">

        <ion-textarea placeholder="Mô tả Sinh niệu, dinh dục"></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Thần kinh</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="thankinh" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="thankinh">

        <ion-textarea placeholder="Mô tả thần kinh"></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Cơ - Xương - Khớp</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="coXuongKhop" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="coXuongKhop">

        <ion-textarea placeholder="Mô tả cơ xương khớp"></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Tai - Mũi - Họng</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="taiMuiHong" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="taiMuiHong">

        <ion-textarea placeholder="Mô tả tai mũi họng"></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Răng -Hàm - Mặt</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="rangHamMat" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="rangHamMat">

        <ion-textarea placeholder="Mô tả răng hàm mặt"></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Mắt</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="mat" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="mat">

        <ion-textarea placeholder="Mô tả mắt"></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Nội Tiết</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="noitiet" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="noitiet">
        <ion-textarea></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label class="label-title" >Da liễu</ion-label>
          <ion-checkbox color="dark"  [(ngModel)]="dalieu" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="dalieu">

        <ion-textarea placeholder="Mô tả da liễu"></ion-textarea>
      </ion-item>
      <ion-item >
        <ion-label class="label-title" fixed>Khác</ion-label>
        <ion-textarea placeholder="abc"></ion-textarea>
      </ion-item>
   </ion-list>
</ion-content>