<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Cận Lâm Sàng</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="background-content" >
  <ion-card *ngFor="let item of listLamSang" style="background: #fff; box-shadow: none; border-top:1px solid darkcyan">

    <ion-item style="background: #fff">
      <ion-label>Tên xét nghiệp</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-card-content>

      <ion-item  style="border-bottom: grey solid 1px;">

        <label item-left style="color: #000">Ngày: </label>
        <ion-datetime displayFormat="DD/MM/YYYY" ></ion-datetime>

      </ion-item>
    
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item (click)="addLamSang()" >
        <ion-icon name="ios-add-circle-outline" class="icon-add" item-left></ion-icon>
        Thêm cận lâm sàng
      </ion-item>
  </ion-list>

  <!--<ion-list-header class="header-list"  style="background: #F4F4F4">
    Khám tại chổ
  </ion-list-header>
  <ion-list>
    <ion-item>
        <ion-label style="color: #387ef5;width: 10px; min-width: 10px" fixed>ECG:</ion-label>
        <ion-input ></ion-input>

      </ion-item>
      <ion-item>
        <ion-label style="color: #387ef5;width: 10px; min-width: 10px" fixed>Đường huyết:</ion-label>
        <ion-input item-center></ion-input>

      </ion-item>
      <ion-item>
        <ion-label style="color: #387ef5;width: 10px; min-width: 10px" fixed>SPO2:</ion-label>
        <ion-input item-center></ion-input>

      </ion-item>
  </ion-list>
  <ion-list-header class="header-list"  style="background: #F4F4F4">
    Gửi Labo xét nghiệm
  </ion-list-header>
  <ion-list>
    <ion-item>
       <ion-label style="color: #387ef5">Huyết học</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listHuyetHoc">{{item.name}}</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
       <ion-label style="color: #387ef5">Sinh hóa</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item><ion-item>
       <ion-label style="color: #387ef5">Gan</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item><ion-item>
       <ion-label style="color: #387ef5">Thận</ion-label>
      <ion-select >
       <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item><ion-item>
       <ion-label style="color: #387ef5">Khớp</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item><ion-item>
       <ion-label style="color: #387ef5">Miến dịch</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item><ion-item>
       <ion-label style="color: #387ef5">Ung thư</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
       <ion-label style="color: #387ef5">Kí sinh trùng</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
       <ion-label style="color: #387ef5">Nước tiểu</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
       <ion-label style="color: #387ef5">Vi sinh</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
       <ion-label style="color: #387ef5">Siêu âm</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
       <ion-label style="color: #387ef5">X-quang</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
       <ion-label style="color: #387ef5">Nội soi</ion-label>
      <ion-select >
        <ion-option *ngFor="let item of listSinhHoas">{{item.name}}</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
       <ion-label style="color: #387ef5" fixed>Khác</ion-label>
        <textarea></textarea>
      </ion-item>
     
  </ion-list>-->
</ion-content>
