<ion-header>
  <ion-navbar hideBackButton class="header">
<ion-buttons left >
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
      </ion-buttons>
    <ion-title center style="text-align: center">Lâm sàng</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-list>

    <ion-card *ngFor="let item of listLamSang" style="background: #fff; box-shadow: none; border-bottom:1px solid darkcyan">

    <ion-item style="background: #fff">
      <ion-label>{{item.tenbpct}}</ion-label>
      <ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>
    </ion-item>
    <ion-card-content [hidden]="item.checked==false">

      <ion-item  style="border: solid 1.5px dodgerblue; border-radius: 3px;">

        <ion-textarea [(ngModel)]="item.chuandoanls" placeholder="Mô tả"></ion-textarea>

      </ion-item>
    
    </ion-card-content>
  </ion-card>


  </ion-list>

</ion-content>