<ion-header>
  <ion-toolbar>
    <ion-title>{{titlePage}}</ion-title>
    <ion-searchbar class="search-bar-focus" [(ngModel)]="autocomplete.query" placeholder = "{{titleSearch}}" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="background-content" >
  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems" (tap)="chooseItem(item)">
      <h2>{{item.nameDisplay}}</h2>
      <p *ngIf="enableSubResult == true">NS: {{item.nscbyt}} &nbsp;&nbsp; GT: <span *ngIf="item.gtcbyt == 1">Nam</span><span *ngIf="item.gtcbyt == 0">Nữ</span></p>
    </ion-item>
  </ion-list>
</ion-content>