
<ion-header>

  <ion-navbar>
    <ion-navbar hideBackButton class="header">
      <ion-title center style="text-align: center">Cài đặt</ion-title>
      <ion-buttons end>
        <button ion-button (click)="saveData()">
            <ion-icon  name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
      </ion-buttons>
    </ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content class="background-content">
  <ion-list>
    <ion-list-header class="header-list" style="background: #F4F4F4">
      Tác vụ hiển thị
    </ion-list-header>
    <ion-item *ngFor="let item of listTab" ion-item>
      <ion-label>{{item.tentacvu}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="item.checked" checked="{{item.checked}}">
      </ion-checkbox>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header class="header-list" style="background: #F4F4F4">
      Số bệnh án
    </ion-list-header>
    <ion-item>
      <ion-label style="color: #387ef5">Chiều dài số: </ion-label>
      <ion-select [(ngModel)]="dataBenhAnSetting.length">
        <ion-option *ngFor="let item of listLengthBenhAn" value="{{item}}">{{item}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label style="color: #387ef5;width: 10px; min-width: 10px" fixed>Kí tự đầu:</ion-label>
      <ion-input class="ktbp" [(ngModel)]="dataBenhAnSetting.prefix"></ion-input>
    </ion-item>

  </ion-list>

</ion-content>