<!--
  Generated template for the ChuanDoan page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left >
      <button icon-left ion-button (press)='showHistory($event)' (click)="backPage()">
        <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-home-outline"></ion-icon>
         <label>Home</label>
      </button>
    </ion-buttons>
    <ion-title center>Chuẩn Đoán</ion-title>
    <ion-buttons end>
      <button ion-button type="submit" (click)="saveData()">
        <ion-icon  name="ios-checkmark-circle-outline"></ion-icon>
         <label>save</label>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="background-content" style="background: #F4F4F4">
  <!--<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form" id="abc">-->
    <ion-list>
      <ion-list-header class="header-list" style="background: #F4F4F4; font-size: 16px">
        Thông tin chuẩn đoán:
      </ion-list-header>

      <ion-item>
        <ion-textarea [(ngModel)]="chuandoan.chuandoan" rows="9" cols="50"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>

      <ion-list-header class="header-list" style="background: #F4F4F4; font-size: 16px">
        Mã ICD:
      </ion-list-header>
      <ion-item *ngFor="let item of listIcds">
        <ion-label>{{item.tenicd}}</ion-label>
        <ion-icon (click)="removeIcd(item)" name="ios-close-outline" class="icon-remove" item-right></ion-icon>
      </ion-item>
      <ion-item (click)="showSearchICDForm()" [hidden]="getLengthListICD()>=2">
        <ion-icon name="ios-add-circle-outline" class="icon-add" item-left></ion-icon>
        Thêm ICD
      </ion-item>
    </ion-list>
  
</ion-content>