<!--
  Generated template for the BenhSu page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton class="header" >
      <ion-buttons left >
         <button icon-left ion-button  (click)="backPage()">
            <ion-icon  name="ios-arrow-dropleft"></ion-icon>
            <label>Khám bệnh</label>
         </button>
      </ion-buttons>
      <ion-title center style="text-align: center">Bệnh sử</ion-title>
      <ion-buttons end >
         <button ion-button  (click)="saveData()">
            <ion-icon clas="header-icon" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
      </ion-buttons>
   </ion-navbar>

</ion-header>


<ion-content class="background-content"  padding style="background: #F4F4F4">
  <ion-list no-lines>
    <ion-item>
      <label style="color: #387ef5; min-width: 10px" fixed>Nhập môt tả bệnh sử:</label>
    </ion-item>
    <ion-item>
         <ion-textarea rows="20" [(ngModel)] = "benhsu"></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>
