<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Chỉ Định Chăm Sóc</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-list>

    <ion-card *ngFor="let item of listChamSoc" style="background: #fff; box-shadow: none; border-top:1px solid darkcyan">

    <ion-item style="background: #fff">
      <ion-label>{{item.tencs}}</ion-label>
      <ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>
    </ion-item>
    <ion-card-content [hidden]="item.checked==false">

      <ion-item  style="border-bottom: grey solid 1px;">

        <label item-left style="color: #000">Ngày: </label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="item.ngaycs"></ion-datetime>

      </ion-item>
    
    </ion-card-content>
  </ion-card>


  </ion-list>

</ion-content>