<ion-header>

  <ion-navbar>
     <ion-buttons left >
      <button icon-left ion-button  (click)="backPage()">
        <ion-icon  name="ios-home-outline"></ion-icon>
         <label>Home</label>
      </button>
      </ion-buttons>
    <ion-title >Chỉ Định</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background-content"  >

<ion-list>
    <button ion-item *ngFor="let item of listMenu" (click)="itemSelected(item.valueClick)">
    {{ item.nameDisplay }}<ion-icon color="nav" item-right name="ios-arrow-forward"></ion-icon>
    </button>
    
</ion-list>
</ion-content>