<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Sinh hiệu</ion-title>

    <ion-buttons end>
      <button ion-button (click)="saveData()">
        <ion-icon  name="ios-checkmark-circle-outline"></ion-icon>
         <label>save</label>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="background-content">
  <!--<ion-list>
    <ion-item>
      <ion-label style="color: #387ef5">Tri giác: </ion-label>
      <ion-select multiple="true">
        <ion-option *ngFor="let item of danhSachTriGiac" value="item.valueClick">{{item.nameDisplay}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>-->
  <ion-list-header class="header-list" style="background: #F4F4F4">
    Sinh hiệu
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label class="label-title" fixed>Mạch:</ion-label>
      <ion-input [(ngModel)]="mach"></ion-input>
      <label item-right>lần/phút</label>
    </ion-item>
    <ion-item>
      <ion-label class="label-title" fixed>Nhiệt độ:</ion-label>
      <ion-input item-center [(ngModel)]="nhietdo"></ion-input>
      <label item-right>°C</label>
    </ion-item>
    <ion-item>
      <ion-label class="label-title" fixed>Huyết áp:</ion-label>
      <ion-input id="item-right" item-center [(ngModel)]="huyetap1"></ion-input>

      <ion-input item-center value="/" [(ngModel)]="huyetap2" (keyup)="keyUpHuyetAp()"></ion-input>
      <label item-right>mmHg</label>
    </ion-item>
    <ion-item>
      <ion-label class="label-title" fixed>Nhịp thở:</ion-label>
      <ion-input item-center [(ngModel)]="nhiptho"></ion-input>
      <label item-right>lần/phút</label>
    </ion-item>

    <ion-item>
      <ion-label class="label-title" fixed>Chiều cao:</ion-label>
      <ion-input [(ngModel)]="chieucao" (keyup)="calculateBMI()"></ion-input>
      <label item-right>Cm</label>
    </ion-item>
    <ion-item>
      <ion-label class="label-title" fixed>Cân nặng:</ion-label>
      <ion-input item-center [(ngModel)]="cannang" (keyup)="calculateBMI()"></ion-input>
      <label item-right>Kg</label>
    </ion-item>
    <ion-item>
      <ion-label class="label-title" fixed>Vòng ngực:</ion-label>
      <ion-input item-center [(ngModel)]="vongnguc"></ion-input>
      <label item-right>Cm</label>
    </ion-item>
    <!--<ion-item>
        <ion-label class="label-title" fixed>Da, niêm mạc:</ion-label>
        <ion-input item-center [(ngModel)]="daNiemMac"></ion-input>
        <label item-right>mmHg</label>
      </ion-item>-->
    <ion-item class="label-title wrap">Chỉ số BMI: <label style="color: #000;white-space: normal" class="wrap">{{bmi}} </label></ion-item>
    <!--<ion-item>
        <ion-label class="label-title" fixed>Khác:</ion-label>
        <ion-input item-center [(ngModel)]="khac"></ion-input>
      </ion-item>-->
    <!--<ion-item>
        <button ion-item (click)="goBoPhanKhac()">
        Bộ phận khác<ion-icon color="nav" item-right name="ios-arrow-forward"></ion-icon>
      </button>
      </ion-item>-->
  </ion-list>
</ion-content>