<ion-header>
  <ion-navbar hideBackButton class="header" >
    <ion-buttons left >
      <button icon-left ion-button  (press) = 'showHistory($event)' (click)="backPage()">
        <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-home-outline"></ion-icon>
         <label>Home</label>
      </button>
      </ion-buttons>
    <ion-title >Hành Chính</ion-title>
    <ion-buttons end >
         <button ion-button  (click)="updatePatient()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-create-outline"></ion-icon>
            <label>Sửa</label>
         </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="background-content" >
  <ion-list-header class="header-list"  style="background: #F4F4F4">
    Thông tin bệnh nhân
  </ion-list-header>
  <ion-list>
    <ion-item class="label-title">Mã BN: <label style="color: #000">{{currentPatient.mabn}}</label></ion-item>
    <ion-item class="label-title">Mã BA: <label style="color: #000">{{currentMedicalRecordNumber}}</label></ion-item>
    <ion-item class="label-title">Họ tên BN <label style="color: #000">{{currentPatient.holotbn +" "+ currentPatient.tenbn}}</label></ion-item>
    <ion-item class="label-title">N/S: <label style="color: #000">{{currentPatient.namsinh}}</label></ion-item>
    <ion-item class="label-title">Giới tính: <label style="color: #000"><span *ngIf="currentPatient.gioitinh == 1">Nam</span><span *ngIf="currentPatient.gioitinh == 2">Nữ</span></label></ion-item>
    <ion-item class="label-title wrap">Địa chỉ: <label style="color: #000;white-space: normal" class="wrap">{{currentPatient.diachibn}} </label></ion-item>
    <ion-item class="label-title wrap">Phường: <label style="color: #000;white-space: normal" class="wrap">{{currentPatient.phuong}} </label></ion-item>
    <ion-item class="label-title wrap">Quận: <label style="color: #000;white-space: normal" class="wrap">{{currentPatient.quan}} </label></ion-item>
    <ion-item class="label-title">Quốc tịch: 
      <label style="color: #000">
        <span *ngIf="currentPatient.maqt == 'vn'">Việt Nam</span>
        <span *ngIf="currentPatient.maqt == 'jp'">Nhật Bản</span>
        <span *ngIf="currentPatient.maqt == 'us'">Hoa Kỳ</span>
        <span *ngIf="currentPatient.maqt == 'sg'">Singapore</span>
        <span *ngIf="currentPatient.maqt == 'cn'">Trung Quốc</span>
      </label></ion-item>
    <ion-item class="label-title">Loại khám bệnh: 
        <span style="color: #000" *ngIf="currentMedicalRecordType == 1">Cấp cứu</span>
        <span style="color: #000" *ngIf="currentMedicalRecordType == 2">Gia đình </span>
        <span style="color: #000" *ngIf="currentMedicalRecordType == 3">Chăm sóc</span>
  
    </ion-item>
    <ion-item class="label-title">
      <ion-grid>
        <ion-row style="margin:-10px">
          <ion-col width-50>
            Thành viên: &nbsp;
              <label style="color: #000">
                <ion-icon *ngIf="currentPatient.thanhvien == 1" name="checkmark-circle"></ion-icon>
                <ion-icon *ngIf="currentPatient.thanhvien == 0" name="ios-radio-button-off-outline"></ion-icon>      
              </label>
          </ion-col>
          <!--<ion-col width-50>
            Cấp cứu: &nbsp;
              <label style="color: #000">
                <ion-icon name="checkmark-circle"></ion-icon>
              </label>
          </ion-col>-->
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!--<ion-list>
    <ion-list-header class="header-list"  style="background: #F4F4F4">
      Thông tin người yêu cầu dịch vụ
    </ion-list-header>
    <ion-item class="label-title">Họ tên: <label style="color: #000">TRẦN VĂN OPQ</label></ion-item>
    <ion-item class="label-title">SDT: <label style="color: #000">0123456789</label></ion-item>
</ion-list>-->
</ion-content>

