
<!--<ion-content class="background-content"  padding class="background-page">
  
  <div style="text-align: center;">
    
    <ion-list style="border-radius: 3px;padding-top: 30%">
      <ion-item *ngFor="let item of data">
        <ion-label>{{item.idtacvu}}</ion-label>
      </ion-item>
      <ion-item>
       
        <ion-input placeholder="Username" [(ngModel)]="username" type="text"></ion-input>
      </ion-item>

     

    </ion-list>
    <ion-list style="border-radius: 3px">

      <ion-item>
       
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>

     

    </ion-list>
  <button (click)='login();' class="login-button" ion-button>Đăng nhập</button>
  </div>

</ion-content>-->
<ion-content>
 
  <div padding [@flyInBottomFast]="cloudState" id="cloud-layer">
 
    <ion-row>
      <ion-col>
        <img [@flyInBottomSlow]="logoState"  src="assets/logo-vk.png" />
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:-30px">
      <ion-col>
        <h1 [@flyInBottomSlow]="logoState" style="color: white; font-size: 20px">Bệnh án điện tử</h1>
      </ion-col>
    </ion-row>
 
    <ion-row>
      <ion-col>
        <ion-list inset [@bounceInBottom]="formState">
 
          <ion-item>
            <ion-label ></ion-label>
            <ion-input type="text" [(ngModel)]="username" placeholder="Tên người dùng"></ion-input>
          </ion-item>
 
          <ion-item>
            <ion-label></ion-label>
            <ion-input [(ngModel)]="password" placeholder="Mật khẩu" type="password"></ion-input>
          </ion-item>
          <ion-item style="background:transparent" [hidden]="incorrectLogin">
            <p style="color:red;" >Tên người dùng hoặc mật khẩu không đúng</p>
          </ion-item>
 
        </ion-list>
      </ion-col>
    </ion-row>
 
    <ion-row>
      <ion-col>
        <button ion-button class="login-button" [@fadeIn]="loginState" (click)="login()">Đăng nhập</button>
      </ion-col>
    </ion-row>
 
  </div>
 
</ion-content>