// page-dang-nhap {
//     .background-page {
//         background: #0A837F;
//     }
//     .login-button {
//         background: #FFBC11; 
//         border-radius: 30px; 
//         width: 90%; 
//         height: 35px;
//     }

// }
.ios, .md {
 
  page-dang-nhap {
 
    .scroll-content {
      background-color: #1361A6;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
 
    img {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }
 
    #cloud-layer {
      // background-image: url('http://www.myiconfinder.com/uploads/iconsets/8d058f546b7620403b0ff81195030bb2-snow.png');
      background-size: cover;
      width: 100%;
      height: 100%;
    }
 
      ion-row {
        align-items: center;
        text-align: center;
      }
 
      ion-item {
          border-radius: 10px !important;
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #fff;
          //opacity: 0.7;
          font-size: 0.9em;
      }
 
      ion-list {
          margin: 0;
      }
 
      .login-button {
          width: 90%;
          border-radius: 10px;
          font-size: 0.9em;
          border: 1px solid #fff;
          background-color: #39acdc;
      }
 
  }
 
}