<!--
  Generated template for the ChiDinhCBYT page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chỉ định CBYT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/doctor.png">
      </ion-avatar>
      <h2>Nguyễn Hoàng Nam</h2>
      <p>NS: 1995 &nbsp;&nbsp; GT: Nam</p>
      <ion-note item-right class="type-cbyt">Bác sĩ</ion-note>
    </ion-item>
    <ion-item-sliding #item *ngFor="let cb of listCBYT">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/doctor.png">
        </ion-avatar>
        <h2>{{cb.holotcbyt}} {{cb.tencbyt}}</h2>
        <p>NS: {{cb.nscbyt}} &nbsp;&nbsp; GT: <span *ngIf="cb.gtcbyt == 1">Nam</span><span *ngIf="cb.gtcbyt == 2">Nữ</span></p>
        <ion-note item-right class="type-cbyt">
          <span *ngIf="cb.plcbyt == 1">Bác sĩ</span>
          <span *ngIf="cb.plcbyt == 2">Điều dưỡng</span>
          <span *ngIf="cb.plcbyt == 3">KTV</span>
        </ion-note>
      </ion-item>
      <ion-item-options side="right">
      <button ion-button color="danger" (click)="removeItem(cb)">
        <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
    </ion-item-options>

    </ion-item-sliding>
    <button ion-item class="icon-add" (click)="addCBYT()">
      <ion-icon name="ios-add-circle-outline"  item-left></ion-icon>
      Thêm cán bộ y tế
    </button>
  </ion-list>

</ion-content>