<!--
   Generated template for the XuTri page.
   
   See http://ionicframework.com/docs/v2/components/#navigation for more info on
   Ionic pages and navigation.
   -->
<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-home-outline"></ion-icon>
            <label>Home</label>
         </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Xử Trí</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="background-content" style="background: #F4F4F4">
  <ion-card *ngFor="let item of listXutri" style="background: #fff">

    <ion-item style="background: #fff">
      <ion-label>{{item.tenxutri}}</ion-label>
      <ion-checkbox [(ngModel)]="item.checked" (ngModelChange)="groupCheckbox(item)"></ion-checkbox>
      <ion-note [hidden]="item.checked == true" item-right>
        <ion-icon color="nav" item-right name="ios-arrow-forward"></ion-icon>
      </ion-note>
      <ion-note [hidden]="!item.checked == true" item-right>
        <ion-icon color="nav" item-right name="ios-arrow-down"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-card-content>
      <ion-item [hidden]="(item.iddmxutri != 1)||(!item.checked==true)" (click)="actionXutri(item)">

        <label item-left (click)="actionXutri(item)">
          <span style="color: #228B22; text-decoration: underline" >
              <ion-icon style="font-size: 15px; margin-right: 2px;color: #228B22" name="ios-add-circle-outline"></ion-icon>
              Chỉ định thuốc
            </span>
        </label>

      </ion-item>
      <ion-item [hidden]="(item.iddmxutri != 2)||(!item.checked==true)" (click)="actionXutri(item)" style="border-bottom: grey solid 2px;">

        <label item-left style="color: #000">Ngày: </label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="taikham.ngayhentk"></ion-datetime>

      </ion-item>
      <ion-item [hidden]="(item.iddmxutri != 3)||(!item.checked==true)">
        <label item-left [hidden]="benhvien != undefined" (click)="actionXutri(item)">
          <span style="color: #228B22; text-decoration: underline" >
              <ion-icon style="font-size: 15px; margin-right: 2px;color: #228B22" name="ios-add-circle-outline"></ion-icon>
              Chọn bệnh viện
            </span>
        </label>
        <div style="background: antiquewhite; padding: 8px" item-left *ngIf="benhvien != undefined">
          <ion-icon color="danger" item-right name="ios-close-circle-outline" style="float: right;    margin-top: -15px;margin-right: -15px;"></ion-icon>
          <span>
            <p></p>
              
              <p>Tên BV: <span style="color: #228B22">{{benhvien.tenbv}}</span></p>
              <p>Địa chỉ: <span style="color: #228B22">{{benhvien.diachibv}}</span></p></span>
              <p>SDT: <span style="color: #228B22">{{benhvien.sodtbv}}</span></p>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!--<ion-list>
      <ion-list-header class="header-list"  style="background: #F4F4F4">
         Tư vấn
      </ion-list-header>
      <ion-item class="item-checkbox-right">
         <ion-label>Dinh dưỡng: </ion-label>
         <ion-checkbox [(ngModel)]="dinhduong"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="!dinhduong">
         <ion-textarea placeholder="Mô tả chi tiết dinh dưỡng"></ion-textarea>
      </ion-item>
      <ion-item class="item-checkbox-right">
         <ion-label>Tập luyện: </ion-label>
         <ion-checkbox [(ngModel)]="luyentap"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="!luyentap">
         <ion-textarea placeholder="Mô tả chi tiết tập luyện"></ion-textarea>
      </ion-item>
      <ion-item>
         <ion-label style="color:black" fixed>Khác: </ion-label>
         <ion-textarea></ion-textarea>
      </ion-item>
   </ion-list>
   <ion-list>
        <ion-list-header class="header-list"  style="background: #F4F4F4">Tái khám</ion-list-header>
      <ion-item class="item-checkbox-right">
         <ion-label>Hẹn tái khám: </ion-label>
         <ion-checkbox [(ngModel)]="taikham"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="!taikham">
        <ion-label item-left style="color: #000">Ngày: </ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
   </ion-list>
      <ion-list>
        <ion-list-header class="header-list"  style="background: #F4F4F4">Cấp cứu</ion-list-header>
      <ion-item class="item-checkbox-right">
         <ion-label>Chuyển viện cấp cứu: </ion-label>
         <ion-checkbox [(ngModel)]="capcuu"></ion-checkbox>
      </ion-item>
      <ion-item [hidden]="!capcuu">
        <ion-label item-left style="color: #000">BV đến: </ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
   </ion-list>-->
</ion-content>