<!--
  Generated template for the TrangChu page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton class="header" >
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="searchPatient()">
        <ion-icon name="search" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center >Trang Chủ</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="addPatient()">
        <ion-icon name="person-add" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<!--<ion-content class="background-content" >
  <ion-list>
    <ion-list-header class="header-list background-content" style="background: #F4F4F4"> 
      Bệnh nhân đang khám
    </ion-list-header>
    <ion-item *ngFor="let item of listPatient" (click)="selectPatient(item)">
      <ion-avatar item-left>
        <img src="assets/home-icon-patient.png">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.dia_chi}}</p>
      <ion-note item-right>3:43 pm</ion-note>
    </ion-item>
  </ion-list>-->

 