<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Tác vụ</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of listMenus" (click)="menuSelection(item.idtacvu)">
    {{ item.tentacvu }}<ion-icon color="nav" item-right name="ios-arrow-forward"></ion-icon>
    </button>

  </ion-list>

</ion-content>