<ion-header>
  <ion-navbar hideBackButton class="header">
    <ion-buttons left>
      <button icon-left ion-button (click)="backPage()">
        <ion-icon name="{{iconBack}}"></ion-icon>
         <label>{{textTitleBack}}</label>
      </button>
    </ion-buttons>
    <ion-title center style="text-align: center">Chuẩn Đoán</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveData()">
            <ion-icon style="font-size: 15px; margin-right: 2px" name="ios-checkmark-circle-outline"></ion-icon>
            <label>save</label>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="background-content" style="background: #F4F4F4">
  <!--<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form" id="abc">-->
    <ion-list>
      <ion-list-header class="header-list" style="background: #F4F4F4; font-size: 16px; border: none;">
        Thông tin chuẩn đoán:
      </ion-list-header>

      <ion-item style="border-radius: 3px">
        <ion-textarea [(ngModel)]="chuandoan.chuandoan" rows="9" cols="50"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>

      <ion-list-header class="header-list" style="background: #F4F4F4; font-size: 16px">
        Mã ICD:
      </ion-list-header>
      <ion-item *ngFor="let item of listIcds">
        <ion-label>{{item.tenicd}}</ion-label>
        <ion-icon (click)="removeIcd(item)" name="ios-close-outline" class="icon-remove" item-right></ion-icon>
      </ion-item>
      <ion-item (click)="showSearchICDForm()" [hidden]="getLengthListICD()>=2" style="border-radius: 3px">
        <ion-icon name="ios-add-circle-outline" class="icon-add" item-left></ion-icon>
        Thêm ICD
      </ion-item>
    </ion-list>
  
</ion-content>